
<div class="tweet-wrap">
    <div class="overlay">
        <a href="/Users/Show/@ViewBag.Intrebare.User.Id">   <img src=@ViewBag.Intrebare.User.ProfileImage() alt="" class="avator"> </a>

    </div>
    <img src="@ViewBag.Intrebare.User.BackroundImage()" alt="" class="backround">

    <div class="tweet-header">

        <div class="tweet-header-info">
            @ViewBag.Intrebare.User.FirstName @ViewBag.Intrebare.User.LastName <span>@ViewBag.Intrebare.User.Email</span> <span>
                @ViewBag.Intrebare.Date.ToString("dd MMM")
            </span>
            <br />

            <strong>@ViewBag.Intrebare.Name</strong>
            <p>@ViewBag.Intrebare.Continut</p>

        </div>

    </div>

</div>
<br />

<form method="post" action="/Comentarii/New/@ViewBag.Intrebare.Id">
    <input type="hidden" name="IntrebareId" value=@ViewBag.Intrebare.Id>
    <div class="input-group mb-xxl-auto ">
        <input type="text" class="form-control" name="Continut" placeholder="Comenteaza-i lui @ViewBag.Intrebare.User.FirstName">
    </div>
    <br />
    <button class="btn" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
        </svg>
    </button>


</form>


