
@model dynamic
@{
    int i = 0;
}
@if (TempData.ContainsKey("AddRole") && TempData.ContainsKey("message-alert"))
{
    <div class=" @TempData["message-alert"] alert-dismissible fade show" role="alert">
        @TempData["AddRole"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}

<div class="container">
    <div class="row">
        <div class="col-md-2">

            <ul class="nav flex-column ">
                <li class="nav-item">
                    <strong> Admin Pannel</strong>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Categorii/Index">Categorii</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/SubCateogrii/Index">SubCateogrii</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Users/Index">Useri</a>
                </li>
            </ul>

        </div>
        <div class="col-md-9">

            <div class="container text-center ">
                <div class="row row-cols-3 g-3">


                    @foreach (Project_DAW.Models.ApplicationUser mod in ViewBag.Useri)
                    {

                        <div class="col">
                            <div class="card border-light mb-3" style="max-width: 18rem;">
                                <div class="card-header">
                                    <img sizes="" class="rounded-circle" alt="avatar1" src="@Model.ImagesSrc[i]" style="width: 50px; height: 50px;" />
                                    @mod.FirstName @mod.LastName
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@mod.Email</h5>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="btn-group" role="group" aria-label="Basic outlined example">

                                    <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#postContent_@i"
                                            aria-expanded="false" aria-controls="postContent_@i">
                                        Adauga rol
                                    </button>
                                    <div class="collapse" id="postContent_@i">

                                        <form method="post" action="/Users/Index">
                                            <input type="hidden" name="userid" value="@mod.Id" />

                                            <select class="form-select" name="role">
                                                <option selected>Roluri</option>
                                                @foreach (var roluri in Model.roluri)
                                                {
                                                    <option value="@roluri">@roluri</option>
                                                }

                                            </select>
                                            <button class="btn btn-success " type="submit">Adauga Rolul</button>


                                        </form>

                                        

                                    </div>
                                
                                
                                </div>

                            </div>
                        </div>
                        i++;
                    }

                </div>
            </div>
