@model Project_DAW.Models.Intrebare
@if (ViewBag.EsteAdmin == true)
{
    <div class="align-items-center justify-content-center d-flex">
        <a class="btn btn-success" href="/Intrebari/New">Adauga o noua Intrebare</a>
    </div>
}
<br />


<div>
    <a href="/Intrebari/Index?sort=Comments&order=asc">Sort by Comments Asc</a> |
    <a href="/Intrebari/Index?sort=Comments&order=desc">Sort by Comments Desc</a> |
    <a href="/Intrebari/Index?sort=IsOpen">Sort by Answered</a> |
    <a href="/Intrebari/Index?sort=NotOpen">Sort by Not Answered</a>
</div> 

@foreach (Project_DAW.Models.Intrebare intrebare in ViewBag.Questions)
{
    <div class="subcategD-row">
        <div class="subcategD-icon subcategD-column center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chat-right-dots center" viewBox="0 0 16 16">
                <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
            </svg>

        </div>
        <div class="subcategD-description subcategD-column">
            <a class="btn title-size text-decoration-underline" href="/Intrebari/Show/@intrebare.Id">@intrebare.Name</a>
            <p>@intrebare.Continut</p>
        </div>
        <div class="subcategD-stats subcategD-column center">
            <span>@intrebare.Comentarii.Count() Comentarii</span>
        </div>
        @if (intrebare.Comentarii.Count() > 0)
        {
            <div class="subcategD-info subcategD-column text-center">
                <b><a href="/Intrebari/Show/@intrebare.Comentarii.Last().Id">Ultimul comentariu</a></b> scris de <a href="/Users/Show/@intrebare.Comentarii.Last().User.Id">@intrebare.Comentarii.Last().User.FirstName @intrebare.Comentarii.Last().User.LastName </a>
                <br> in <small>@intrebare.Comentarii.Last().Date.ToString("dd MMM")</small>

            </div>
        }
        else
        {
            <div class="subcategD-info subcategD-column">

                <b><a href="/Comentarii/New/@intrebare.Id">Fii tu primul care ofera un raspuns</a></b>

            </div>

        }

    </div>

}
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

</div>
