@model Project_DAW.Models.SubCategorie

<h2> Editare subcategorie</h2>

@using (Html.BeginForm(controllerName: "SubCategorii", actionName: "Edit", method: FormMethod.Post,
      routeValues: new { id = Model.Id }))
{
    @Html.Label("Title", "Denumire SubCategorie")
    <br />
    @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })

    @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
    <br />
    <label>Selectati categoria</label>

    @Html.DropDownListFor(m => m.CategorieId, new SelectList(Model.Categ, "Value", "Text"), "Selectati categoria", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.CategorieId, null, new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn-success" type="submit">Modifica subcategorie</button>
}

