@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

<br />
@if (ViewBag.EsteAdmin == true)
{
    <div class="align-items-center justify-content-center d-flex">
        <a class="btn btn-success" href="/SubCategorii/New">Adauga o noua subcategorie</a>
    </div>
}
<br />

@foreach (Project_DAW.Models.SubCategorie subCategorie in ViewBag.Subcategorii)
{

    <div class="container-categ">
        <div class="subforum">
            <div class="subforum-title">
                <h1>@subCategorie.Title</h1>
            </div>
            @{
                var intrebari_sortate = subCategorie.Intrebari.OrderBy(s => s.Comentarii.Count()).Take(5);
            }
            @foreach (Project_DAW.Models.Intrebare intrebare in intrebari_sortate)
            {
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chat-right-dots center" viewBox="0 0 16 16">
                            <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                            <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                        </svg>

                    </div>
                    <div class="subforum-description subforum-column">
                        <a class="btn title-size text-decoration-underline" href="/Intrebari/Show/@intrebare.Id">@intrebare.Name</a>
                        <p>@intrebare.Continut</p>
                    </div>
                    <div class="subforum-stats subforum-column center">
                        <span>@intrebare.Comentarii.Count() Comentarii</span>
                    </div>
                    @if (intrebare.Comentarii.Count() > 0)
                    {
                        <div class="subforum-info subforum-column text-center">

                            <b><a href="/Intrebari/Show/@subCategorie.Intrebari.Last().Id">Ultima Intrebare</a></b> scrisa de <a href="/Users/Show/@subCategorie.Intrebari.Last().User.Id">@subCategorie.Intrebari.Last().User.FirstName @subCategorie.Intrebari.Last().User.LastName </a>
                            <br> in <small>@subCategorie.Intrebari.Last().Date.ToString("dd MMM")</small>

                        </div>
                    }
                    else
                    {
                        <div class="subcategD-info subcategD-column">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <b><a href="/Comentarii/New/@intrebare.Id">Fii tu primul care ofera un raspuns</a></b>
                            }
                            else
                            {
                                <b><a href="/Identity/Account/Login">Fii tu primul care ofera un raspuns</a></b>
                            }
                        </div>

                    }
     
                </div>

            }
            @if (subCategorie.Intrebari.Count() > 5)
            {
                <a href="/SubCategorii/Show/@subCategorie.Id" class="btn btn-primary">Afișează toate intrebarile din aceasta subcategorie</a>
            }

            @if (ViewBag.EsteAdmin == true)
            {
                <div class="align-items-center justify-content-center d-flex">
                    <form method="post" action="/SubCategorii/Delete/@subCategorie.Id">
                        <button class="btn btn-danger" type="submit">Sterge subcategoria</button>
                    </form>
                </div>
                <div class="align-items-center justify-content-center d-flex">
                    <a class="btn btn-success" href="/SubCategorii/Edit/@subCategorie.Id">Editeaza aceasta subcategorie</a>
                </div>
            }

        </div>

    </div>
}