@model Project_DAW.Models.SubCategorie

<h2> Adaugare SubCategorie</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "SubCategorii", method: FormMethod.Post))
{

    @Html.Label("Title", "Denumire SubCategorie")
    <br />

    @Html.TextBox("Title", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Description", "Descriere Subcategorie")
    @Html.TextBox("Description", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
<br />
    <label>Selectati Categoria</label>
    @Html.DropDownListFor(m => m.CategorieId, new SelectList(Model.Categ, "Value", "Text"), "Selectati categoria", new {@class = "form-control"})
    @Html.ValidationMessageFor(m => m.CategorieId, null, new { @class = "text-danger" })
    <br />
    <br />
    <button class="btn btn-success" type="submit">Adauga SubCategorie</button>

}

